<div class="container">
  <mat-card class="login-container">
    <mat-card-title align="center">
      <img class="img-logo" src="assets/logo-jwt.png" loading="lazy">
    </mat-card-title>
    <mat-card-content>
      <mat-stepper linear #stepper>
        <mat-step [stepControl]="sendCodeFormGroup" [editable]="false">
          <form [formGroup]="sendCodeFormGroup">
            <ng-template matStepLabel>Send Code</ng-template>
            <p>digit your email to send a code verification.</p>
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" placeholder="Ex. marco@example.com" required>
              <mat-error *ngIf="sendCodeFormGroup.get('email')?.hasError('email') && !sendCodeFormGroup.get('email')?.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="sendCodeFormGroup.get('email')?.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="create()" [disabled]="disableButtons">Send E-mail</button>
          </form>
        </mat-step>
        <mat-step [stepControl]="confirmCodeFormGroup" [editable]="false">
          <form [formGroup]="confirmCodeFormGroup">
            <ng-template matStepLabel>Confirm Code</ng-template>
            <p>A 6-digit code has been sent to <strong><span>{{sendCodeFormGroup.get('email')?.value}}</span></strong>, please enter it below.</p>
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Confirmation code</mat-label>
              <input matInput type="text" formControlName="code" [maxLength]="6" required>
            </mat-form-field>
            <div class="btn-gap">
              <button mat-raised-button color="primary" (click)="confirm()" [disabled]="disableButtons">Confirm</button>
              <button mat-raised-button color="warn" (click)="create(false)" [disabled]="timerInProgress && disableButtons">{{sendCodeText}}</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="resetPasswordFormGroup" [editable]="false">
          <form [formGroup]="resetPasswordFormGroup">
            <ng-template matStepLabel>Reset Password</ng-template>
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" autocomplete="off" required>
              <mat-error *ngIf="resetPasswordFormGroup.get('password')?.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput type="password" formControlName="passwordConfirmation" autocomplete="off" required>
              <mat-error *ngIf="resetPasswordFormGroup.get('passwordConfirmation')?.hasError('required')">
                Password confirmation is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="resetPasswordFormGroup.get('passwordConfirmation')?.hasError('passwordMismatch') && !resetPasswordFormGroup.get('passwordConfirmation')?.hasError('required')">
                Password <strong>mismatch</strong>
              </mat-error>
            </mat-form-field>
            <div class="btn-gap">
              <button mat-raised-button color="primary" (click)="redefinePassword()" [disabled]="disableButtons">Change Password</button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
    </mat-card-content>
  </mat-card>
</div>
